@import "tailwindcss";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;
  --font-cinzel: 'Cinzel', serif;
  --font-diphylleia: 'Diphylleia', sans-serif;
  --font-merriweather: 'Merriweather', serif;
  --font-spectral: 'Spectral', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-dosis: 'Dosis', sans-serif;
  --font-sono: 'Sono', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
