@import "tailwindcss";

@theme {
  --font-quintessential: 'Quintessential', sans-serif;
  --font-luxurious-roman: 'Luxurious Roman', serif;
  --font-lekton: 'Lekton', sans-serif;
}

.header-wrapper {
  @apply relative flex justify-self-center border-white w-[3rem];
}

.header {
  @apply font-lekton absolute left-[50%] -translate-x-[50%] translate-y-[1.7rem] text-[3rem] w-[17rem] text-center;
}
